[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-image = "*"
opencv-python = "*"
matplotlib = "*"
pandas = "*"
graphviz = "*"
scikit-learn = "*"
picamera2 = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.13"
